<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
	<link rel="stylesheet" type="text/css" href="css/StiloviForma.css"/>
	<link rel="stylesheet" type="text/css" href="css/StiloviHorizontalniMeni.css"/>
	<base href="//">
	<title>Pocnetna stranica</title>
</head>
<body>
	<ul>
		<li><a href="registracija.html">Registruj se</a></li>
	</ul>
	<br/>
	<form method="post" action="korisnici/login">
		<table>
			<h1 th:text="#{prijava}">Prijava</h1>
			<tr><th th:text="#{email}">email</th><td><input type="text" value="" name="email" required/></td></tr>
			<tr><th th:text="#{lozinka}">Lozinka</th><td><input type="password" value="" name="sifra" required/></td></tr>
			<tr><th></th><td><input type="submit" value="Prijavi se" /></td>
		</table>
	</form>

</body>

</html>

