<!DOCTYPE html> 
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<base th:href="@{/}">
		<title>Clanska Karta</title>
		<link rel="stylesheet" type="text/css" href="css/StiloviTabela.css"/>
		<link rel="stylesheet" type="text/css" href="css/StiloviHorizontalniMeni.css"/>
	</head>
	<body>
		<ul>
			 <li><a href="korisnik/profil">Profil</a></li> 
			</ul>
		
 				<td>
					<form method="post" action="korisnik/clanskaKarta/posalji">
						<input type="submit" value="Zakazi termin">
					</form>
				</td> 
 			</tr> 
		</table>
	</body>
</html>