<!DOCTYPE html> 
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<base th:href="@{/}">
		<title>Clanska Karta</title>
		<link rel="stylesheet" type="text/css" href="css/StiloviTabela.css"/>
		<link rel="stylesheet" type="text/css" href="css/StiloviHorizontalniMeni.css"/>
	</head>
	<body>
		<ul>
	 <li><a href="korisnik/profil">Profil</a></li>  
	 <li><a href="korisnik/korpa">Korisnicka korpa</a></li>  
	 <li><a href="korisnik/clanskaKarta">Clanska Karta</a></li> 
			</ul>
		
 				<td>
					<form method="post" action="korisnik/posalji">
						<input type="submit" value="Posalji zahtev za clansku kartu">
					</form>
				</td> 
 			</tr> 
 			 <table>     
	 			<caption>Clanska</caption>     
	 			<tr>      
	 			    <th>Popust</th> 
	 				<th>Broj poena</th>      	
	 			</tr>
	 			<tr  th:each="itClanska, status: ${clanska}">  
	 			<td th:text="${itClanska.popust}+'%'" name="popust"></td>  
	 			<td th:text="${itClanska.poeni}" name="poeni"></td> 
	 		</table>
		
	</body>
</html>