<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />

	<link rel="stylesheet"  type="text/css"  href="css/StiloviTabela.css"/>     
	<link rel="stylesheet" type="text/css" href="css/StiloviForma.css"/>
	<link rel="stylesheet" type="text/css" href="css/StiloviHorizontalniMeni.css"/>
	<base href="bURL">
	<title>Dodaj trening</title>
</head>
<body>
 	<ul>    
 		<li><a href="admin">Povratak</a></li>    
 
 	</ul>    
 	<form method="post" action="add">    
 		<table>   
	 		<h1 th:text="#{dodajTrening}"></h1></caption>     
 			<tr><th th:text="#{imeTreninga}"></th><td><input type="text" value="" name="naziv"/></td></tr>    
 			<tr><th th:text="#{opisTreninga}"></th><td><input type="text" value="" name="opis"/></td></tr>   
 			<tr><th th:text="#{cenaTreninga}"></th><td><input type="text" value="" name="cena" /></td></tr>   
 			<tr><th th:text="#{trener}"></th><td><input type="text" value="" name="trener" /></td></tr>   
 			<tr><th th:text="#{vrstaTreninga}">Vrsta Treninga:</th>
 			<td>
 			<select name="vrstaTreninga">
	 			<option  value="POJEDINACNI">POJEDINACNI</option>
	 			<option  value="GRUPNI">GRUPNI</option>
	 			
 			</select>
 			</td>
 			</tr>   
 			<tr><th th:text="#{nivoTreninga}"></th>
 			<td>
 			<select name="nivoTreninga">
	 			<option value="AMATERSKI">AMATERSKI</option>
	 			<option value="SREDNJI">SREDNJI</option>
	 			<option value="NAPREDNI">NAPREDNI</option>
	 			
 			</select>
 			</td>
 			</tr>  
 			<tr><th th:text="#{trajanjeTreninga}"></th><td><input type="number" min="1" name="trajanjeTreninga"/></td></tr>   
 			<tr><th th:text="#{prosecnaOcena}"></th><td><input type="number" min="1" name="prosecnaOcena"/></td></tr>   
 			<tr><th></th><td><input type="submit" th:value="#{dodaj}"/></td>    
 		</table>    
 	</form> 
</body>
</html>
  	