<!DOCTYPE html> 
<html xmlns:th="http://www.thymeleaf.org">     
	<head>     
		<meta charset="UTF-8">     
		<base th:href="@{/}"><!-- popuni href atribut vrednosšću context path-a -->
		<title>Profil</title>     
		<link rel="stylesheet"  type="text/css"  href="css/StiloviTabela.css"/>     
	 	<link rel="stylesheet"  type="text/css" href="css/StiloviHorizontalniMeni.css"/>   
	 </head> 
<body>
	<form method="post" action="admin/edit">
 		<input type="hidden" name="id" th:value="${korisnik.id}"/>
		<table class="forma">
			<caption>Korisnik</caption>
			<tr th:each="itKorisnik, status: ${korisnik}">
 			<th>Ime:</th>
 			<td th:text="${itKorisnik.ime}"  name="ime"></td>
 			</tr>    
 			<tr th:each="itKorisnik, status: ${korisnik}">
 			<th>Prezime:</th>
 			<td th:text="${itKorisnik.prezime}" name="prezime" /></td>
 			</tr>   
 			<tr th:each="itKorisnik, status: ${korisnik}">
 			<th>Korisnicko ime:</th>
 			<td th:text="${itKorisnik.korisnickoIme}" name="korisnickoIme"/></td>
 			</tr>   
 			<tr th:each="itKorisnik, status: ${korisnik}">
 			<th>Email:</th>
 			<td th:text="${itKorisnik.email}" name="email"/></td>
 			</tr> 
			<tr>
			<th>Tip korisnika:</th>
			<td>
				<select th:each="itKorisnik, status: ${korisnik}" name="tipKorisnika">
				      <option th:text="${itKorisnik.tipKorisnika}" ></option>
					  <option th:if="${itKorisnik.tipKorisnika != 'POLAZNIK'}" >POLAZNIK</option>
					  <option th:if="${itKorisnik.tipKorisnika != 'ADMINISTRATOR'}" >ADMINISTRATOR</option>
				</select>
			</td>
		   </tr>
		   <tr th:each="itKorisnik, status: ${korisnik}">
		   <th>Aktivan:</th>
		   <td><input type = "checkbox" name="aktivan" th:checked="${itKorisnik.isAktivan}"/></td>
		   </tr>
			<tr><th></th><td><input type="submit" value="Izmeni"></td></tr>
		</table>
	</form>
	
			<table>
			<caption>Zakazani treninzi korisnika</caption> 
			<tr>
				<th>Trening</th>
				<th>Cena</th>
				<th>Datum odrzavanja</th>
				<th></th>
			</tr>
			
			<tr th:each="itKorpa, status: ${korpa}">  
 				<td th:text="${itKorpa.terminId.treningId.naziv}"></td>    
 				<td th:text="${itKorpa.terminId.treningId.cena}"></td>    
 				<td><a th:href="|admin/korpa?id=${itKorpa.id}|"  th:text="${itKorpa.terminId.datum}"></td>  
		</tr>
		</table>
		<ul>
			<li><a href="admin/add">Dodaj trening</a></li>   
	 		<li><a href="admin/addTermin">Dodaj termin</a></li>   
	 		<li><a href="admin/logout">Izloguj se</a></li>   
		</ul>
</body>
</html>