<!DOCTYPE html> 
<html xmlns:th="http://www.thymeleaf.org">     
	<head>     
		<meta charset="UTF-8">     
		<base th:href="@{/}"><!-- popuni href atribut vrednosšću context path-a -->
		<title>Komentari</title>     
		<link rel="stylesheet"  type="text/css"  href="css/StiloviTabela.css"/>     
	 	<link rel="stylesheet"  type="text/css" href="css/StiloviHorizontalniMeni.css"/>   
	 </head> 
	 
<body>
	 <li><a href="admin/profil" th:text="#{profil}"></a></li>
	  <li><a href="admin/korisnici" th:text="#{korisnici}"></a></li>  
	   <li><a href="admin/sale" th:text="#{sale}"></a></li> 
	   <li><a href="admin/komentari" th:text="#{komentari}"></a></li>
	    <li><a href="admin/clanskeKarte" th:text="#{clanskeKarte}"></a></li>
	
 			 <table>     
	 			<h1 th:text="#{komentari}"></h1>  

	 			<tr>      
	 			    <th th:text="#{autor}">Autor</th> 
	 				<th th:text="#{datumiVreme}">Datum</th>     
	 				<th th:text="#{text}">Text</th>     
	 				<th th:text="#{ocena}">Ocena</th>   
	 				<th th:text="#{imeTreninga}">Naziv treninga</th>  
	 				<th th:text="#{opcija}">Opcija</th>  
	 			

	 			</tr>
	 			<tr  th:each="itKomentar, status: ${komentar}">  
	 			<td th:text="${itKomentar.autor.korisnickoIme}" name="autor"></td>  
	 			<td th:text="${itKomentar.datum}" name="datum"></td> 
	 			<td th:text="${itKomentar.textKomentara}" name="Text"></td> 
	 			<td th:text="${itKomentar.ocena}" name="Ocena"></td> 
	 			<td th:text="${itKomentar.trening.naziv}" name="naziv"></td> 
	 			<td>    
	 					<form method="post" action="admin/komentari/obrisikomentar" >     
	 						<input type="hidden"  name="id"  th:value="${itKomentar.id}">     
	 						<input type="submit"  th:value="#{obrisi}">    
	 					</form>  
	 					<form method="post" action="admin/komentari/odobri" >     
	 						<input type="hidden"  name="id"  th:value="${itKomentar.id}">     
	 						<input type="submit"  th:value="#{odobri}">    
	 					</form> 
	 			</td> 
	 		</table>
	 			 			 	<ul>     
	 		<li><a href="admin/add" th:text="#{dodajTrening}"></a></li>   
	 		<li><a href="admin/addTermin" th:text="#{dodajTermin}"></a></li>   
	 		<li><a href="admin/logout" th:text="#{logOut}"></a></li>   
	 	</ul>
	
</body>
</html>