<!DOCTYPE html> 
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<base th:href="@{/}">
		<title>Korisnicka Korpa</title>
		<link rel="stylesheet" type="text/css" href="css/StiloviTabela.css"/>
		<link rel="stylesheet" type="text/css" href="css/StiloviHorizontalniMeni.css"/>
	</head>
	<body>
		<ul>
			 	 <li><a href="korisnik/profil" th:text="#{profil}"></a></li>  
	             <li><a href="korisnik/korpa" th:text="#{korisnickaKorpa}"></a></li>  
	             <li><a href="korisnik/clanskaKarta" th:text="#{clanskaKarta}"></a></li> 
			 
			</ul>
		<table>
	 			<h1 th:text="#{listaZelja}"></h1></caption>     
			<tr>
				<th th:text="#{imeTreninga}"></th>
				<th th:text="#{trener}"></th>
				<th th:text="#{datumiVreme}"></th>
				<th></th>
			</tr>
			
			<tr th:each="itTermin, status: ${termin}">  
 				<td th:text="${itTermin.treningId.naziv}"></td>    
 				<td th:text="${itTermin.treningId.trener}"></td>    
 				<td th:text="${itTermin.datum}"></td>    
 				<td>
					<form method="post" action="korisnik/korpa/ukloni">
						<input type="hidden" name="idTermina" th:value="${itTermin.id}">
						<input type="submit" value="Ukloni iz korpe">
					</form>
				</td> 
 				<td>
					<form method="post" action="korisnik/korpa/zakazi">
						<input type="hidden" name="idTermina" th:value="${itTermin.id}">
						<input type="submit" value="Zakazi termin">
					</form>
				</td> 
 	
		</tr>
		</table>
				<table>
	 			<h1 th:text="#{zakazaniTreninzi}"></h1></caption>     
			<tr>
				<th th:text="#{imeTreninga}"></th>
				<th th:text="#{cenaTreninga}"></th>
				<th th:text="#{datumiVreme}"></th>
				<th></th>
			</tr>
			
			<tr th:each="itKorpa, status: ${korpa}">  
 				<td th:text="${itKorpa.terminId.treningId.naziv}"></td>    
 				<td th:text="${itKorpa.terminId.treningId.cena}"></td>    
 				<td th:text="${itKorpa.terminId.datum}"></td>  
  
 				<td>
					<form method="post" action="korisnik/korpa/ukloniIzKorpe">
						<input type="hidden" name="idTermina" th:value="${itKorpa.id}">
						<input type="submit" th:value="#{ukloniIzKorpe}">
					</form>
				</td> 
		</tr>
		</table>
				</table>
				<table>
	 			
			<tr>
				<th th:text="#{UkupnaCena}"></th>
			</tr>
			
			
 				<td th:text="${sum}"></td>     
		</tr>
		</table>
	</body>
	 		<li><a href="korisnik/logout"  th:text="#{logOut}">Izloguj se</a></li>   
	
</html>