<!DOCTYPE html> 
<html xmlns:th="http://www.thymeleaf.org">     
	<head>     
		<meta charset="UTF-8">     
		<base th:href="@{/}"><!-- popuni href atribut vrednosšću context path-a -->
		<title>Korisnici</title>     
		<link rel="stylesheet"  type="text/css"  href="css/StiloviTabela.css"/>     
	 	<link rel="stylesheet"  type="text/css" href="css/StiloviHorizontalniMeni.css"/>   
	 </head>     
	 <body>   
	 <li><a href="admin/profil" th:text="#{profil}"></a></li>
	   <li><a href="admin/sale" th:text="#{sale}"></a></li> 
	   <li><a href="admin/komentari" th:text="#{korisnici}"></a></li>
	    <li><a href="admin/clanskeKarte" th:text="#{clanskeKarte}"></a></li>
   
   
	 		<table>     
	 			<h1 th:text="#{korisnici}"></h1></caption>     
	 			<tr>      
	 			    <th th:text="#{username}"></th> 
	 				<th th:text="#{ime}"></th>     
	 				<th th:text="#{prezime}"></th>     
	 				<th th:text="#{email}"></th>   
	 				<th th:text="#{lozinka}"></th> 
	 				<th th:text="#{datumRodj}"></th> 
	 				<th th:text="#{brojTelefona}"></th> 
	 				<th th:text="#{datumiVreme}"></th> 
	 				<th th:text="#{tipKorisnika}"></th> 
	 				<th th:text="#{adresa}"></th> 
	 				 
	 			</tr>
	 			<tr th:each="itKorisnik, status: ${korisnici}">  
	 			    <td ><a th:href="|admin/details?id=${itKorisnik.id}|"  th:text="${itKorisnik.korisnickoIme}"></a></td>    
	 				<td th:text="${itKorisnik.ime}"></td>    
	 				<td th:text="${itKorisnik.prezime}"></td>    
	 				<td th:text="${itKorisnik.email}"></td>   
	 				<td th:text="${itKorisnik.lozinka}"></td>   
	 				<td th:text="${itKorisnik.datRodj}"></td>   
	 				<td th:text="${itKorisnik.brojTelefona}"></td>   
	 				<td th:text="${itKorisnik.vremeRegistracije}"></td>  
	 				<td th:text="${itKorisnik.tipKorisnika}"></td>  
	 				<td th:text="${itKorisnik.adresa}"></td>  

	 			</tr>
	 		</table>
	 	<ul>     
	 		<li><a href="admin/add" th:text="#{dodajTrening}"></a></li>   
	 		<li><a href="admin/addTermin" th:text="#{dodajTermin}"></a></li>   
	 		<li><a href="admin/logout" th:text="#{logOut}"></a></li>   
	 	</ul>

	 </body>   
 </html>	