<!DOCTYPE html> 
<html xmlns:th="http://www.thymeleaf.org">     
	<head>     
		<meta charset="UTF-8">   
		  		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js">
</script>
		<base th:href="@{/}"><!-- popuni href atribut vrednosšću context path-a -->
		<title>Korisnik profil</title>     
		<link rel="stylesheet"  type="text/css"  href="css/StiloviTabela.css"/>     
	 	<link rel="stylesheet"  type="text/css" href="css/StiloviHorizontalniMeni.css"/>   
	 </head>     
	 <body>   
	 <li><a href="korisnik/profil" th:text="#{profil}"></a></li>  
	 <li><a href="korisnik/korpa" th:text="#{korisnickaKorpa}"></a></li>  
	 <li><a href="korisnik/clanskaKarta" th:text="#{clanskaKarta}"></a></li> 
   
	 		<table>     
	 			<h1 th:text="#{treninzi}"></h1></caption>    
	 			<tr>      
	 			    <th th:text="#{imeTreninga}"></th> 
	 				<th th:text="#{opisTreninga}"></th>     
	 				<th th:text="#{cenaTreninga}"></th>  
	 				<th th:text="#{trener}"></th> 
	 				<th th:text="#{vrstaTreninga}"></th> 
	 				<th th:text="#{nivoTreninga}"></th> 
	 				<th th:text="#{trajanjeTreninga}"></th> 
	 				<th th:text="#{prosecnaOcena}"></th> 

	 			</tr>
	 			<tr th:each="itTrening, status: ${treninzi}">  
	 			    <td ><a th:href="|korisnik/details?id=${itTrening.id}|" th:text="${itTrening.naziv}"></td>    
	 				<td th:text="${itTrening.opis}"></td>    
	 				<td th:text="${itTrening.cena}"></td>
	 				<td th:text="${itTrening.trener}"></td>   
	 				<td th:text="${itTrening.vrstaTreninga}"></td>   
	 				<td th:text="${itTrening.nivoTreninga}"></td>   
	 				<td th:text="${itTrening.trajanjeTreninga}"></td>   
	 				<td th:text="${itTrening.prosecnaOcena}"></td>  
	 			</tr>
	 		</table>
	 		<ul>     

	 		<li><a href="korisnik/logout"  th:text="#{logOut}">Izloguj se</a></li>   
	 	</ul>
			<span th:text="#{lang.change}"></span>
		<select id="locales">
		    <option value=""></option>
		    <option value="en" th:text="#{lang.eng}"></option>
		    <option value="sr" th:text="#{lang.sr}"></option>
		</select>
	 </body>  
	 <script type="text/javascript">
    $(document).ready(function () {
        $("#locales").change(function () {
            var selectedOption = $('#locales').val();
            if (selectedOption != '') {
                window.location.replace('korisnik/?lang=' + selectedOption);
            }
        });
    });
</script>  

 </html>