<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />

	<link rel="stylesheet"  type="text/css"  href="css/StiloviTabela.css"/>     
	<link rel="stylesheet" type="text/css" href="css/StiloviForma.css"/>
	<link rel="stylesheet" type="text/css" href="css/StiloviHorizontalniMeni.css"/>
	<base href="bURL">
	<title>Dodavanje sale</title>
</head>
<body>
	 <li><a href="admin/profil" th:text="#{profil}"></a></li>
	  <li><a href="admin/korisnici" th:text="#{korisnici}"></a></li>  
	   <li><a href="admin/sale" th:text="#{sale}"></a></li> 
	   <li><a href="admin/komentari" th:text="#{korisnici}"></a></li>
	    <li><a href="admin/clanskeKarte" th:text="#{clanskeKarte}"></a></li>
   
	 		<table>     
	 			<h1 th:text="#{sale}"></h1>    
	 			<tr>      
	 			    <th th:text="#{oznakaSale}"></th> 
	 				<th th:text="#{kapacitet}"></th>     

	 				<th></th>    
	 			</tr>
	 			<tr th:each="itSala, status: ${sala}">  
	 			    <td th:text="${itSala.id}"></a></td>    
	 				<td th:text="${itSala.kapacitet}"></td>
	 				<td>    
	 					<form method="post" action="sale/deleteSala" >     
	 						<input type="hidden"  name="id"  th:value="${itSala.id}">     
	 						<input type="submit"  value="Obriši" >    
	 				</form>    
	 				</td>   
	 			</tr>  
	 		</table>    
 	<form method="post" action="addSala">    
		 
		  <label th:text="#{kapacitet}" for="kapacitet"></label>
		  <input type="number"  name="kapacitet" min="1" max="1000">
		  <input type="submit" value="Dodaj"/>
		 
 	</form> 
 	
	 	<ul>     
	 		<li><a href="admin/add" th:text="#{dodajTrening}"></a></li>   
	 		<li><a href="admin/addTermin" th:text="#{dodajTermin}"></a></li>   
	 		<li><a href="admin/logout" th:text="#{logOut}"></a></li>   
	 	</ul>
</body>
</html>