<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />

	<link rel="stylesheet"  type="text/css"  href="css/StiloviTabela.css"/>     
	<link rel="stylesheet" type="text/css" href="css/StiloviForma.css"/>
	<link rel="stylesheet" type="text/css" href="css/StiloviHorizontalniMeni.css"/>
	<base href="bURL">
	<title>Dodavanje sale</title>
</head>
<body>
	 		<table>     
	 			<caption>Sale</caption>     
	 			<tr>      
	 			    <th>Oznaka sale:</th> 
	 				<th>Kapacitet:</th>     

	 				<th></th>    
	 			</tr>
	 			<tr th:each="itSala, status: ${sala}">  
	 			    <td th:text="${itSala.id}"></a></td>    
	 				<td th:text="${itSala.kapacitet}"></td>
	 				<td>    
	 					<form method="post" action="sale/deleteSala" >     
	 						<input type="hidden"  name="id"  th:value="${itSala.id}">     
	 						<input type="submit"  value="Obriši" >    
	 				</form>    
	 				</td>   
	 			</tr>  
	 		</table>    
 	<form method="post" action="addSala">    
		 
		  <label for="kapacitet">Kapacitet:</label>
		  <input type="number"  name="kapacitet" min="1" max="1000">
		  <input type="submit" value="Dodaj"/>
		 
 	</form> 
 	
 	<ul>    
 		<li><a href="admin">Povratak</a></li>   
 		<li><a href="admin/logout">Izloguj se</a></li>   
 		 
 
 	</ul>  
</body>
</html>