<!DOCTYPE html> 
<html xmlns:th="http://www.thymeleaf.org">     
	<head>     
		<meta charset="UTF-8">     
		<base th:href="@{/}"><!-- popuni href atribut vrednosšću context path-a -->
		<title>Trening</title>     
		<link rel="stylesheet"  type="text/css"  href="css/StiloviTabela.css"/>     
	 	<link rel="stylesheet"  type="text/css" href="css/StiloviHorizontalniMeni.css"/>   
	 </head> 
<body>
<div>
 	   
 		<table class = "forma">   
 			<caption>Informacije o treningu</caption>    
 			<tr th:each="itTrening, status: ${trening}">
 			<th>Naziv:</th>
 			<td th:text="${itTrening.naziv}" name="naziv"/></td></tr>    
 			<tr th:each="itTrening, status: ${trening}">
 			<th>Opis:</th><td th:text="${itTrening.opis}" name="opis"></td></tr>   
 			<tr th:each="itTrening, status: ${trening}">
 			<th>Cena:</th><td th:text="${itTrening.cena}" name="cena"></td></tr>   
 			<tr th:each="itTrening, status: ${trening}">
 			<th>Trener:</th><td th:text="${itTrening.trener}" name="trener"></td></tr>   
 			<tr th:each="itTrening, status: ${trening}">
 			<th>Vrsta Treninga:</th><td th:text="${itTrening.vrstaTreninga}" name="vrstaTreninga"></td></tr>   
 			<tr th:each="itTrening, status: ${trening}">
 			<th>Nivo Treninga:</th><td th:text="${itTrening.nivoTreninga}" name="nivoTreninga"></td></td></tr>  
 			<tr  th:each="itTrening, status: ${trening}">
 			<th>Trajanje Treninga:</th><td th:text="${itTrening.trajanjeTreninga}" name="trajanjeTreninga"></td></tr>   
 			<tr  th:each="itTrening, status: ${trening}">
 			<th>Prosecna Ocena:</th><td th:text="${itTrening.prosecnaOcena}" name="prosecnaOcena"></td></td></tr>     
 		</table>    
 
 </div>
 	<div>
        <form method="post" action="korisnik/addKomentar">
			
		    <caption>Dodavanje komentara</caption>
				
			<input type="hidden" name="id" th:value="${trening.id}"/>
				 	    
 			<tr><th>Komentar:</th><td><input type="text" value="" name="textKomentara"/></td></tr>  
 			<tr><th>Ocena:</th><td><input type="number" min="1" max= "5" name="ocena"/></td></tr>     
 		    <tr><th>Anoniman:</th><td><input type = "checkbox" name="anoniman"/></td></tr>
		    <tr><th></th><td><input type="submit" value="Dodaj"/></td></tr>
			
		</form>
	</div> 
	<div>
	 		<table>     
	 			<caption>Treninzi</caption>     
	 			<tr>      
	 			    <th>Autor:</th> 


	 			</tr>
	 			<tr th:each="itKomentar, status: ${komentar}">  
	 				<td th:text="${itKomentar.textKomentara}"></td>    
	 				

	 			</tr>
	 		</table>
 </div>

</body>
</html>